<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/views/img/tbl4.png" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Site de uma Conferência Web" />
    <meta name="author" content="Ricardo Queirós" />

    <title>TBL & Flipped Classroom</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/views/css/webconf.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!-- Custom fonts for this template -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="/views/javascript/animation.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.9/sweetalert2.all.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/views/javascript/webconf.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <img src="/views/img/tbl4.png" alt="Dev Web" />
      <a class="navbar-brand" href="#page-top"
        ><strong
          >Projeto TBL - Flipped Classroom - Página de Administrador</strong
        ></a
      >
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-primary" id="btnmodal1">
              Docentes
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" id="btnmodal2">
              Alunos
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" id="btnmodal3">
                Grupos
              </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" id="btnmodal4">
              Perguntas
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" id="btnmodal5">
              Atividades
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" id="btnmodal6">
              Modulos
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" id="btnmodal8">
              Upload Documentos
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <script src="/views/javascript/create.js"></script>

    <script type="text/javascript">
      $("#btnmodal1").click(function () {
        $("#myModalDocentes").modal("show");
      });
    </script>

    <div class="modal" id="myModalDocentes">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-overlay" id="modal-overlay"></div>
          <div class="modal-header">
            <h3>Registo de Docentes</h3>
          </div>
          <div class="modal-body">
            <form action="enviarRegisto()">
                <label for="nomedoc">Nome:</label><br>
                <input id="des" type="text" name="nome" /><br>
                <label for="iddoc">ID do Docente:</label><br>
                <input id="iden" type="text" name="num" /><br>
                <label for="contatodoc">Contato:</label><br>
                <input id="telf" type="text" name="contato" /><br>
                <label for="passworddoc">Password:</label><br>
                <input id="telf" type="text" name="contato" /><br>
                <button type="button" onclick="enviarDocente()">Registar</button>
              </form>
              <p id="resultado"></p>
              <p id="falhou"></p>
          </div>
        </div>
      </div>
    </div>



    <script type="text/javascript">
      $("#btnmodal2").click(function () {
        $("#myModalAlunos").modal("show");
      });
    </script>

    <div class="modal" id="myModalAlunos">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-overlay" id="modal-overlay"></div>
          <div class="modal-header">
            <h3>Registo de Alunos</h3>
          </div>
          <div class="modal-body">
            <form action="enviarRegisto()">
                <label for="name">Nome:</label><br>
                <input id="des" type="text" name="nome" /><br>
                <label for="id">ID do Aluno:</label><br>
                <input id="iden" type="text" name="num" /><br>
                <label for="contato">Contato:</label><br>
                <input id="telf" type="text" name="contato" /><br>
                <button type="button" onclick="enviarAluno()">Registar</button>
              </form>
              <p id="resultado"></p>
              <p id="falhou"></p>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $("#btnmodal3").click(function () {
          $("#myModalGrupos").modal("show");
        });
      </script>
  
      <div class="modal" id="myModalGrupos">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-overlay" id="modal-overlay"></div>
            <div class="modal-header">
              <h3>Registo de Grupos</h3>
            </div>
            <div class="modal-body">
              <button type="button" onclick="getData()">Obter Dados</button>
              <div id="listaAlunos"></div>
              <form action="enviarRegisto()">
                <br>
                <br>
                <label for="name">Nº do grupo:</label><br>
                <input id="grup" type="text" name="grupo" /><br>
                <label for="id">ID do aluno:</label><br>
                <input id="idaluno" type="text" name="num2" /><br>
                <label for="pass">Password a atribuir ao Grupo:</label><br>
                <input id="pwgrupo" type="text" name="pgrupo" /><br>
                <button type="button" onclick="enviarGrupo()">Registar</button>
              </form>
                <p id="resultado"></p>
                <p id="falhou"></p>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        $("#btnmodal4").click(function () {
          $("#myModalPerguntas").modal("show");
        });
      </script>
  
      <div class="modal" id="myModalPerguntas">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-overlay" id="modal-overlay"></div>
            <div class="modal-header">
              <h3>Registo de Perguntas para Questionários</h3>
            </div>
            <div class="modal-body">
              <form action="enviarRegisto()">
                  <label for="tema">Tema</label><br>
                  <input id="tema" type="text" name="tema" /><br>
                  <label for="idQuestao">Numero da Questão:</label><br>
                  <input id="idQuestao" type="text" name="idq" /><br>
                  <label for="quest">Questão:</label><br>
                  <input id="quest" type="text" name="ques" /><br>
                  <label for="ans">Resposta certa:</label><br>
                  <input id="ans" type="text" name="ans" /><br>
                  <label for="opt1">Opção 1:</label><br>
                  <input id="opt1" type="text" name="opt1" /><br>
                  <label for="opt2">Opção 2:</label><br>
                  <input id="opt2" type="text" name="opt2" /><br>
                  <label for="opt3">Opção 3:</label><br>
                  <input id="opt3" type="text" name="opt3" /><br>
                  <label for="opt4">Opção 4:</label><br>
                  <input id="opt4" type="text" name="opt4" /><br>
                  <button type="button" onclick="enviarQuestoes()">Registar</button>
                </form>
                <p id="resultado"></p>
                <p id="falhou"></p>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        $("#btnmodal5").click(function () {
          $("#myModalAtividades").modal("show");
        });
      </script>

      <div class="modal" id="myModalAtividades">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-overlay" id="modal-overlay"></div>
            <div class="modal-header">
              <h3>Registo de Atividades</h3>
            </div>
            <div class="modal-body">
              <form action="enviarRegisto()">
                  <label for="tematic">Tema</label><br>
                  <input id="tematic" type="text" name="tematic" /><br>
                  <label for="refativ">Ref. Atividade:</label><br>
                  <input id="refativ" type="text" name="refativ" /><br>
                  <label for="idpergunta">Nº da Questão:</label><br>
                  <input id="idpergunta" type="text" name="idpergunta" /><br>
                  <label for="tipo">Tipo (Grupo - G ou Individual - I):</label><br>
                  <input id="tipo" type="text" name="tipo" /><br>
                  <button type="button" onclick="enviarAtividades()">Registar</button>
                  <button type="button" onclick="getPerguntas2()">Obter Perguntas</button>
                  <br>
                  <br>
                  <div id="listaQuestoes"></div>
                </form>
                <p id="resultado"></p>
                <p id="falhou"></p>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        $("#btnmodal6").click(function () {
          $("#myModalModulos").modal("show");
        });
      </script>

      <div class="modal" id="myModalModulos">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-overlay" id="modal-overlay"></div>
            <div class="modal-header">
              <h3>Registo de Módulos</h3>
            </div>
            <div class="modal-body">
              <form action="enviarRegisto()">
                  <label for="design">Designação</label><br>
                  <input id="design" type="text" name="design" /><br>
                  <label for="refmodulo">Ref. Modulo:</label><br>
                  <input id="refmodulo" type="text" name="refmodulo" /><br>
                  <label for="idativ">Ref. Atividade:</label><br>
                  <input id="idativ" type="text" name="idativ" /><br>
                  <button type="button" onclick="enviarModulos()">Registar</button>
                </form>
                <p id="resultado"></p>
                <p id="falhou"></p>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        $("#btnmodal8").click(function () {
          $("#myModalDocs").modal("show");
        });
      </script>
  
      <div class="modal" id="myModalDocs">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-overlay" id="modal-overlay"></div>
            <div class="modal-header">
              <h3>Upload de Documentos</h3>
            </div>
            <div class="modal-body">
              <div>
                <form action="/multiple" method="POST"
                enctype="multipart/form-data">
                <input type="file" name="files" multiple/>
                <button type="submit">Submeter</button>
                <br>
                <br>
                <h5>Notas Importantes</h5>
                  <br>
                  <h6>
                  > O nome do ficheiro deverá estar de acordo com a tipologia de documento(ver pontos infra)<br>
                  > Apenas deverão ser anexados documentos em pdf<br>
                    <br>
                  1. Documentos para os Grupos - grupo.pdf<br>
                  2. Documentos para Dev Web - devweb.pdf<br>
                  3. Documentos para Inteligência Artificial - ia.pdf<br>
                  4. Documentos para Gestão de Projetos - gp.pdf<br>
                  5. Documentos para Controlo de Gestão - cg.pdf<br>
                  6. Documentos para Gestão de Sistemas e Redes - redes.pdf<br>
                </h6>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  

    <script src="/views/javascript/create.js"></script>
    <script src="/views/javascript/load.js"></script>
    <script src="/views/javascript/script.js"></script>
  </body>
</html>
